
<div class="row">
  <div class="col-md-12">
    <div class="widget-area">
      <div class="wizard-form-h">
        <div id="wizard" class="swMain">


          <%%= link_to <%= index_helper %>_path, :class => 'btn btn-default' do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Back
          <%% end %>
          <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
          <%% end %>
            <div class="heading">
        <strong>show</strong> <%= singular_table_name %>
          <%= singular_table_name %>

        <dl class="dl-horizontal">
          <%- attributes.each do |attribute| -%>
          <dt><%= attribute.human_name %>:</dt>
          <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>

          <%- end -%>
        </dl>

        </div>
      </div>
    </div>
  </div>
</div>